#about{
    padding: 50px 70px 142px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 117px;
    .aboutSideImg{
        width: 80%;
    }
    .aboutTitlesAndPhotos{
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-direction: column;
        gap: 40px;
        .aboutTitles{
            h1 , p{
                color: #1D2130;
            }
            h1{
                padding-bottom: 12px;
                font-weight: 600;
                font-size: 40px;
            }
            p{
                font-weight: 400;
                font-size: 18px;
            }
        }
        .aboutProgress{
            position: relative;
            h2{
                padding: 19px 0 13px;
                font-weight: 600;
                font-size: 24px;
                color: #1D2130;
            }
            img{
                max-width: 100%;
            }
            .greyStyle{
                height: 11px;
                width: 100%;
            }
            .firstExperience{
                .firstExperienceSecondColor{
                    width: 90%;
                    height: 11px;
                    position: absolute;
                    top: 20.4%;
                    left: 0;
                }
                .firstExperiencePrecentageCircle{
                    position: absolute;
                    top: 17%;
                    left: 84%;
                }
                .firstExperiencePrecentage{
                    position: absolute;
                    top: 10%;
                    left: 84.7%;
                }
            }
            .secondExperience{
                .secondExperienceSecondColor{
                    width: 85%;
                    height: 11px;
                    position: absolute;
                    top: 45.4%;
                    left: 0;
                }
                .secondExperiencePrecentageCircle{
                    position: absolute;
                    top: 42%;
                    left: 80%;
                }
                .secondExperiencePrecentage{
                    position: absolute;
                    top: 35%;
                    left: 80.6%;
                }
            }
            .thirdExperience{
                .thirdExperienceSecondColor{
                    width: 95%;
                    height: 11px;
                    position: absolute;
                    top: 70.4%;
                    left: 0;
                }
                .thirdExperiencePrecentageCircle{
                    position: absolute;
                    top: 67%;
                    left: 89%;
                }
                .thirdExperiencePrecentage{
                    position: absolute;
                    top: 60%;
                    left: 89.6%;
                }
            }
            .fourthExperience{
                .fourthExperienceSecondColor{
                    width: 90%;
                    height: 11px;
                    position: absolute;
                    top: 95.4%;
                    left: 0;
                }
                .fourthExperiencePrecentageCircle{
                    position: absolute;
                    top: 92%;
                    left: 84%;
                }
                .fourthExperiencePrecentage{
                    position: absolute;
                    top: 85%;
                    left: 84.6%;
                }
            }
        }
    }
}

@media(max-width : 992px){
    #about{
        min-width: 320px;
        padding: 25px 40px 71px;
        text-align: center;
        flex-direction: column;
        gap: 10px;
        .aboutTitlesAndPhotos{
            align-items: center;
            gap: 20px;
        }
    }
}